<html ng-app="antiplag">
<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.3.0/styles/default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="//cdn.jsdelivr.net/highlight.js/9.3.0/highlight.min.js"></script>
    <script src="cmp.js"></script>
    <script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
</head>
<body>
    <div ng-controller="cmpController">
        <div class="container-fluid">
            <div class="row" style="height:65%">
                <div class="col-md-6">
                    <h2>Possible source:</h2>
                    <pre style="width:100%; height:100%">
                        <code class="js" id="codeLeft"></code>
                    </pre>
                </div>
                <div class="col-md-6">
                    <h2>Pasted code:</h2>
                    <pre style="width:100%; height:100%">
                        <code class="js" id="codeRight"></code>
                    </pre>
                </div>
            </div>
            <div class="row" style="height:25%;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>Similar files</h2>
                    <table class="table" style="max-width:800px;">
                        <thead>
                        <tr>
                            <th>Filename</th>
                            <th style="text-align: right;">Same lines</th>
                            <th style="text-align: right;">Copied functions</th>
                            <th style="text-align: right;">Compare</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="plagiarism in plagiarisms">
                            <td>{{plagiarism.name}}</td>
                            <td style="text-align: right;">
                                {{plagiarism.commonLines}}
                            </td>
                            <td style="text-align: right;">
                                {{plagiarism.copiedFunctions}}
                            </td>
                            <td style="text-align: right;">
                                <button type="button" class="btn btn-default" ng-click="compare(plagiarism.name)" style="width:80px;">Compare</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
