<html ng-app="antiplag">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
</head>
<body>

<div ng-controller="jsController as js">
    <h2>Paste your code here to check if it is a plagiarism</h2>
    <textarea rows="10" cols="150" style="width:640px;">

    </textarea><br>
    <button type="button" class="btn btn-primary" ng-click="go()">Go</button>

    <hr>
    <h2>Library</h2>
    <form>
        <input id="addFile" type="file" class="file-loading">
        <button type="button" class="btn btn-primary" ng-click="addFile()">Add file</button>
    </form>

    <table class="table table-striped" style="width:400px">
        <thead>
            <tr>
                <th>Filename</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="filename in js.library.files">
                <td>{{filename}}</td>
                <td><button type="button" class="btn btn-danger" ng-click="removeFile(filename)">Delete</button>  </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
